name: publish

on:
  push:
    tags:
      - "v*"

jobs:

  publish:
    runs-on: ubuntu-latest
    environment: publishing
    permissions:
      id-token: write # OIDC
      contents: write
    steps:
      - uses: actions/checkout@v5
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          registry-url: "https://registry.npmjs.org"
          cache: "npm"

      - name: Set-up git user
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Install dependencies
        run: |
              npm install -g npm@latest
              npm install

      - run: npm test
      - run: npx tree-sitter test

      - name: Publish package
        run: npm publish
